<% page_title 'Visão geral de pagamentos' %>

<div class="overview__wrapper">
  <%= simple_form_for @overview_date, method: :get do |f| %>
    <%= f.input :initial_date, label: 'de', required: false, as: :date, order: [:month, :year] %>
    <%= f.input :end_date, label: 'até', required: false, as: :date, order: [:month, :year] %>
    <%= f.submit 'Filtrar' %>
  <% end %>

  <div class="overview__tablesWrapper">
    <div class="overview__patientsList">
      <table id="overview__patientsList">
        <thead>
          <tr>
            <th>Paciente</th>
          </tr>
        </thead>

        <tbody>
          <% @patients_list.each_with_index do |patient, index|%>
            <tr class=<%= index % 2 == 0 ? 'even' : 'odd' %>>
              <td><%= patient.name %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="overview__appointmentsList">
      <table style="table-layout:fixed;" id="overview__appointmentsList">
        <thead>
          <tr>
            <% @grouped_months.each do |months|%>
              <th><%= months.label %></th>
            <% end %>
          </tr>
        </thead>

        <tbody>
          <% @patients_list.each_with_index do |patient, index|%>
            <tr class=<%= index % 2 == 0 ? 'even' : 'odd' %>>
              <% @grouped_months.each do |date|%>
                <td>
                  <div class="overview__appointmentItems">
                    <% patient.decorate_appointments_for(date).each do |appointment| %>
                      <div class=<%= appointment.payment_color.present? ? "overview__appointment--#{ appointment.payment_color}" : "overview__appointmentItem" %>>
                        <% if appointment.id %>
                          <%= link_to appointment.status_humanized, appointment_path(appointment), target: "_blank" %>
                          (<%= appointment.payment_label %>)
                        <% else %>
                          <span> - </span>
                          <span>( - )</span>
                        <% end %>
                      </div>
                    <% end %>
                  </div>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>