<ul>
  <li class='sidebar__title'><%= link_to 'Urodonto', root_path %></li>

  <li class='sidebar__label'>Consultas</li>
  <li class='sidebar__item'><%= link_to 'Agenda', scheduler_index_path %></li>
  <li class='sidebar__item'><%= link_to 'Agendamentos', events_path %></li>
  <li class='sidebar__item'><%= link_to 'Pacientes', patients_path %></li>
  
  <li class='sidebar__label'>Fluxo de caixa</li>
  <li class='sidebar__item'><%= link_to 'Lista de pagamentos', patients_path %></li>
  <li class='sidebar__item'><%= link_to 'Novo pagamento', patients_path %></li>

  <li class='sidebar__label'>Perfil do usuário</li>
  <li class='sidebar__item'><%= link_to 'Alterar informações', edit_user_registration_path %></li>
  <li class='sidebar__item'><%= link_to 'logout', destroy_user_session_path, method: :delete %></li>
</ul>