<ul>
  <li>
    <%= link_to 'Home', root_path %>
  </li>
  <li>
    <%= link_to 'Agenda', events_path %>
  </li>
  <li>
    <%= link_to 'Agendamento', scheduler_index_path %>
  </li>
  <li>
    <%= link_to 'Pacientes', patients_path %>
  </li>
  <li>Fluxo de caixa</li>
  <li>
    <%= link_to 'logout', destroy_user_session_path, method: :delete %>
  </li>
</ul>