<ul>
  <li class='sidebar__title'><%= link_to 'Urodonto', root_path %></li>

  <li class='sidebar__label'>Pacientes</li>
  <li class='sidebar__item'><%= link_to 'Lista', patients_path %></li>
  <li class='sidebar__item'><%= link_to 'Novo', new_patient_path %></li>

  <li class='sidebar__label'>Consultas</li>
  <li class='sidebar__item'><%= link_to 'Agenda', scheduler_index_path %></li>
  <li class='sidebar__item'><%= link_to 'Lista', appointments_path %></li>
  <li class='sidebar__item'><%= link_to 'Nova', new_appointment_path %></li>

  <li class='sidebar__label'>Fluxo de caixa</li>
  <li class='sidebar__item'><%= link_to 'Planilha', overviews_path %></li>
  <li class='sidebar__item'><%= link_to 'Lista', financial_records_path %></li>
  <li class='sidebar__item'><%= link_to 'Novo', new_financial_record_path %></li>

  <% if policy(User).index? %>
    <li class='sidebar__label'>Usuários</li>
    <li class='sidebar__item'><%= link_to 'Lista', users_path %></li>
  <% end %>

  <li class='sidebar__label'>Perfil do usuário</li>
  <li class='sidebar__item'><%= link_to 'Alterar informações', edit_user_registration_path %></li>
  <li class='sidebar__item'><%= link_to 'logout', destroy_user_session_path, method: :delete, data: { confirm: 'Você tem certeza?' } %></li>
</ul>