<div class="event_form__wrapper">
  <%= simple_form_for @event do |f| %>
    <fieldset>
      <%= f.association :patient, collection: Patient.all %>
      <%= f.input_field :doctor_id, as: :hidden, value: 1 %>
    </fieldset>

    <fieldset>
      <%= f.input :title %>
      <div>
        <label>Cor</label>
        <input type="color" name="event[color]" value=<%= @event.color || "#429cb6" %>>
      </div>
      <div>
        <label class="select required">Começa</label>
        <div class='event_selects'>
          <%= f.input_field :start, as: :datetime %>
        </div>
      </div>
      
      <div>
        <label>Termina</label>
        <div class='event_selects'>
          <%= f.input_field :end, as: :datetime %>
        </div>
      </div>
    </fieldset>

    <div class="form-actions">
      <%= f.button :submit %>
      <%= link_to 'Delete', 
                  @event, 
                  method: :delete, 
                  class: 'btn btn-danger', 
                  data: { confirm: 'Are you sure?' }, 
                  remote: true unless @event.new_record? %>
    </div>
  <% end %>
</div>