<div class="modal" title=<%= @event.title%>>
  <p><%= @event.title %></p>
  <p><%= @event.patient.name %></p>
  <p><%= @event.doctor.name %></p>
  <p><%= @event.start.strftime('%d/%m/%Y - %H:%M') %></p>
  <p><%= @event.end.strftime('%d/%m/%Y - %H:%M') %></p>
  <%= link_to "Deletar", event_path(@event), method: :delete, remote: true %>
</div>