<table id="datatable">
  <thead>
      <tr>
          <th>Título</th>
          <th>Paciente</th>
          <th>Ações</th>
      </tr>
  </thead>
  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.title %></td>
        <td><%= event.patient.name %></td>
        <td>
          <%= link_to "Detalhes", event_path(event) %>
          <%= link_to "Alterar", edit_event_path(event, search: event.patient.name) %>
          <%= link_to "Deletar", event_path(event), method: :delete %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% content_for(:javascript) do %>
  <script type='text/javascript'>
    $(document).ready( function () {
      $('#datatable').DataTable();
    } );
  </script>
<% end %>