<div class="modal">
  <div class="scheduler__detailsWrapper">
    <ul class="scheduler__statusChanger">
      <li>
        <button>
          <%= link_to 'Agendado', scheduler_member_path(@appointment, { appointment: { status: 'scheduled' }}), 
            method: :put, 
            remote: true,
            class: 'btn',
            data: { confirm: 'Tem certeza que deseja alterar para esse status?' } 
          %>
        </button>
      </li>
      <li>
        <button>
          <%= link_to 'Confirmado', scheduler_member_path(@appointment, { appointment: { status: 'confirmed' }}), 
            method: :put, 
            remote: true, 
            data: { confirm: 'Tem certeza que deseja alterar para esse status?' } 
          %>
        </button>
      </li>
      <li>
        <button>
          <%= link_to 'Faltou', scheduler_member_path(@appointment, { appointment: { status: 'missed' }}), 
            method: :put, 
            remote: true, 
            data: { confirm: 'Tem certeza que deseja alterar para esse status?' } 
          %>
        </button>
      </li>
      <li>
        <button>
          <%= link_to 'Remarcou', scheduler_member_path(@appointment, { appointment: { status: 'rescheduled' }}), 
            method: :put, 
            remote: true, 
            data: { confirm: 'Tem certeza que deseja alterar para esse status?' } 
          %>
        </button>
      </li>
    </ul>
    
    <ul class="scheduler__info">
      <li><strong>Situação:</strong> <%= @appointment.status_humanized %></li>
      <li><strong>Data:</strong> <%= @appointment.range_period %></li>
      <% if @appointment.title.present? %>
        <li><strong>Título:</strong> <%= @appointment.title %></li>
      <% end %>
      <li><strong>Paciente:</strong> <%= @appointment.patient.name %></li>
      <li><strong>Agendado por:</strong> <%= @appointment.user.name %></li>
      <li><strong>Agendado em:</strong> <%= @appointment.created_at.strftime('%d/%m/%Y - %H:%M') %></li>
      <li><strong>Data Da última atualização:</strong> <%= @appointment.updated_at.strftime('%d/%m/%Y - %H:%M') %></li>
    </ul>
    
    <div class="scheduler__buttonsWrapper">
      <button>
        <%= link_to "Alterar", edit_scheduler_path(@appointment), remote: true %>
      </button>
      <button class="red">
        <%= link_to "Deletar", scheduler_path(@appointment), 
          method: :delete, 
          remote: true, 
          data: { confirm: 'Tem certeza que deseja deletar?' } 
        %>
      </button>
    </div>
  </div>
</div>