<div class="modal">
  <%= simple_form_for @event, url: '/scheduler', remote: true do |f| %>
    <div class="form-inputs">
      <div class='form-group'>
        <%= text_field_tag :patient, params[:search], name: 'event[patient]', data: { field: 'event_patient_id', autocomplete: autocomplete_patient_name_patients_path } %>
      </div>
      <%= f.input_field :doctor_id, as: :hidden, value: 1 %>
      <%= f.input :title %>
      <%= f.input_field :start, as: :datetime %>
      <%= f.input_field :end, as: :datetime %>
      <%= f.input_field :patient_id, as: :hidden %>
      <div>
        <label>Cor</label>
        <input type="color" name="event[color]" value=<%= @event.color || "#429cb6" %>>
      </div>
    </div>

    <div class="form-actions">
      <%= f.button :submit %>
      <%= link_to 'Delete', 
                  event, 
                  method: :delete, 
                  class: 'btn btn-danger', 
                  data: { confirm: 'Are you sure?' }, 
                  remote: true unless @event.new_record? %>
    </div>
  <% end %>
</div>