<div class='patient__formWrapper'>
  <% if patient.errors.any? %>
    <div id="error_explanation">
      <h2>Lista de erros:</h2>
      <ul>
        <% patient.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= simple_form_for patient do |f| %>
    <fieldset>
      <%= f.input :name, error: false %>
      <div class='patient__sideBySide'>
        <div>
          <label>Sexo</label>
          <div class='patient__selects'>
            <%= f.select :sex, Patient.sexes.map { |key, value| [I18n.t("activerecord.attributes.patient.sexes.#{ key }"), key] } %>
          </div>
        </div>
        <div>
          <label>Data de Nascimento</label>
          <div class='patient__selects'>
            <%= f.input_field :birthday, as: :date, html5: true %>
          </div>
        </div>
      </div>
    </fieldset>
    
    <fieldset>
      <%= f.input :email, as: :email, placeholder: 'email@exemplo.com' %>
      <div class='patient__sideBySide'>
        <%= f.input :phone %>
        <%= f.input :cell_phone %>
      </div>
    </fieldset>

    <fieldset>
      <%= f.input :address %>
      <%= f.input :city %>
      <div class='patient__sideBySide'>
        <%= f.input :state %>
        <%= f.input :zip_code %>
      </div>
    </fieldset>

    <fieldset>
      <%= f.input :fixed_price %>
      <div id='patient__prices'>
        <label>Parcelas</label>
        <%= f.simple_fields_for :patient_prices do |patient_price| %>
          <%= render 'patient_price_fields', f: patient_price %>
        <% end %>
        <div class='patient__newPlot'>
          <%= link_to_add_association 'nova parcela', f, :patient_prices %>
        </div>
      </div>
    </fieldset>

    <%= f.button :submit %>

    <% unless patient.new_record?%>
      <button class='red'>
        <%= link_to 'Deletar paciente', 
                    patient, 
                    method: :delete, 
                    data: { confirm: 'Você tem certeza?' } %>
      </button>
    <% end %>
  <% end %>
</div>