<div class='patient__formWrapper'>
  <%= simple_form_for patient, remote: true do |f| %>
    <fieldset>
      <%= f.input :name %>

      <div>
        <label>Data de Nascimento</label>
        <div class='patient__selects'>
          <%= f.input_field :birthday, as: :date %>
        </div>
      </div>
      <div>
        <label>Sexo</label>
        <div class='patient__selects'>
          <%= f.select :sex, collection: [['Masculino', 'male'], ['Feminino', 'female']] %>
        </div>
      </div>
    </fieldset>
    
    <fieldset>
      <%= f.input :email %>
      <%= f.input :phone %>
      <%= f.input :cell_phone %>
    </fieldset>

    <fieldset>
      <%= f.input :address %>
      <%= f.input :city %>
      <%= f.input :state %>
      <%= f.input :zip_code %>
    </fieldset>

    <%= f.button :submit %>
  <% end %>
</div>