<% page_title 'Pacientes' %>

<button>
  <%= link_to "Novo paciente", new_patient_path %>
</button>

<div class="patients__wrapper">
  <table id="datatable" class="stripe">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Telefone</th>
            <th>Última consulta</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
      <% @patients.each do |patient| %>
        <tr>
          <td><%= link_to patient.name, patient_path(patient) %></td>
          <td><%= patient.cell_phone %></td>
          <td><%= patient.appointments&.last&.start&.strftime('%d %b %Y - %H:%M') %></td>
          <td>
            <button><%= link_to "Detalhes", patient_path(patient) %></button>
            <button><%= link_to "Alterar", edit_patient_path(patient) %></button>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<% content_for(:javascript) do %>
  <script type='text/javascript'>
    InitializeDataTables({ order: [[0, 'asc']] })
  </script>
<% end %>