<% page_title 'Visão geral de pagamentos' %>

<div class="overview__wrapper">
  <div class="overview__patientsList">
    <table id="overview__patientsList">
      <thead>
        <tr>
          <th>Paciente</th>
        </tr>
      </thead>

      <tbody>
        <% @overview.each_with_index do |patient, index|%>
          <tr class=<%= index % 2 == 0 ? 'even' : 'odd' %>>
            <td><%= patient[:name] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="overview__appointmentsList">
    <table style="table-layout:fixed;" id="overview__appointmentsList">
      <thead>
        <tr>
          <% @date_range.each do |date|%>
            <th><%= date[:label] %></th>
          <% end %>
        </tr>
      </thead>

      <tbody>
        <% @overview.each_with_index do |patient, index|%>
          <tr class=<%= index % 2 == 0 ? 'even' : 'odd' %>>
            <% @date_range.each do |date|%>
              <td>
                <div>
                  <% patient.foo(date).map do |appointment| %>
                    <span class=<%= "overview__appointment--#{ appointment[:color]}" %>><%= appointment[:label] %></span>
                  <% end %>
                </div>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>