<% page_title 'Detalhes do paciente' %>


<div class="patient__detailsWrapper">
  <h2>Lista de consultas<h2>
  <ul>
    <% @patient.appointments.each do |appointment| %>
      <li>Status: <%= appointment.status %></li>
      <li>Doutor: <%= appointment.doctor.name %></li>
      <li>Observações: <%= appointment.observations %></li>
      <li>Início: <%= appointment.start %></li>
      <li>Fim: <%= appointment.end %></li>
      <li>Pago? <%= appointment.financial_record.paid? %></li>

      <h2>Pagamento</h2>
      <li>Status: <%= appointment.financial_record.status %></li>
      <li>Data: <%= appointment.financial_record.date %></li>
      <li>Valor: <%= appointment.financial_record.amount %></li>
      <li>Observações: <%= appointment.financial_record.observations %></li>
    <% end %>
  </ul>
</div>