<% page_title 'Detalhes do paciente' %>


<div class="patient__detailsWrapper">
  <table class="standard">
    <thead>
      <tr>
        <th>Status</th>
        <th>Doutor</th>
        <th>Data</th>
        <th>Status Pgto</th>
        <th>Data Pgto</th>
        <th>Valor</th>
        <th>Consulta</th>
        <th>Pagamento</th>
      </tr>
    </thead>
    <tbody>
      <% @patient.appointments.each do |appointment| %>
        <tr>
          <td><%= t("activerecord.attributes.appointment.statuses.#{ appointment.status }") %></td>
          <td><%= appointment.doctor.name %></td>
          <td><%= appointment.start.strftime('%d %b %Y') %></td>
          <td><%= t("activerecord.attributes.financial_record.statuses.#{ appointment.financial_record.status }") %></td>
          <td><%= appointment.financial_record.paid? ? appointment.financial_record.paid_at.strftime('%d %b %Y') : '-' %></td>
          <td><%= appointment.financial_record.amount %></td>
          <td>
            <button><%= link_to 'Detalhes', appointment_path(appointment) %></button>
          </td>
          <td>
            <button><%= link_to 'Detalhes', financial_record_path(appointment.financial_record) %></button>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>