<div class='financial_record__formWrapper'>
  <%= simple_form_for @financial_record do |f| %>
    <fieldset>
      <%= f.association :appointment, collection: Appointment.all %>
    </fieldset>

    <fieldset>
      <div>
        <label>Status</label>
        <div class='appointment_selects'>
          <%= f.select :status, FinancialRecord.statuses.map { |key, value| [I18n.t("activerecord.attributes.financial_record.statuses.#{ key }"), key] } %>
        </div>
      </div>
      <%= f.input :title %>
      <div>
        <label>Data</label>
        <div class='financial_record_selects'>
          <%= f.input_field :date, as: :date %>
        </div>
      </div>
      <%= f.input :amount %>
      <%= f.input :observations, as: :text %>
    </fieldset>

    <%= f.button :submit %>
  <% end %>
</div>