<% page_title 'Registro financeiro' %>

<button>
  <%= link_to "Novo registro", new_financial_record_path %>
</button>

<div class="financialRecordsList__wrapper">
  <table id="datatable" class="stripe">
    <thead>
        <tr>
            <th>Paciente</th>
            <th>Data Pgt</th>
            <th>Valor</th>
            <th>Título</th>
            <th>Data venc</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
      <% @financial_records.each do |financial_record| %>
        <tr>
          <td><%= link_to financial_record.appointment.patient.name, patient_path(financial_record.appointment.patient) %></td>
          <td><%= financial_record.paid_at&.strftime('%d/%m/%Y') %></td>
          <td><%= financial_record.amount %></td>
          <td><%= financial_record.title %></td>
          <td><%= financial_record.due_date&.strftime('%d/%m/%Y') %></td>
          <td>
            <button><%= link_to "Detalhes", financial_record_path(financial_record) %></button>
            <button><%= link_to "Alterar", edit_financial_record_path(financial_record) %></button>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<% content_for(:javascript) do %>
  <script type='text/javascript'>
    InitializeDataTables({ order: [[0, 'desc']] })
  </script>
<% end %>