<% page_title 'Registro financeiro' %>

<button>
  <%= link_to "Novo registro", new_financial_record_path %>
</button>

<div class="financial_records__wrapper">
  <table id="datatable" class="stripe">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Telefone</th>
            <th>Última consulta</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
      <% @financial_records.each do |financial_record| %>
        <tr>
          <td><%= financial_record.status %></td>
          <td></td>
          <td></td>
          <td>
            <%= link_to "Detalhes", financial_record_path(financial_record) %>
            <%= link_to "Alterar", edit_financial_record_path(financial_record) %>
            <%= link_to "Deletar", financial_record_path(financial_record), method: :delete %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<% content_for(:javascript) do %>
  <script type='text/javascript'>
    $(document).ready( function () {
      $('#datatable').DataTable({
        order: [[0, 'asc']],
        pageLength: 25,
        language: {
          url: "//cdn.datatables.net/plug-ins/1.10.19/i18n/Portuguese-Brasil.json"
        }
      });
    } );
  </script>
<% end %>