<div class="infoDetail__groupWrapper">
  <h2>Gerais</h2>

  <div class="infoDetail__groupInfo">
    <div class="infoDetail__groupInfo--title"><span>Cobrável:</span></div>
    <div class="infoDetail__groupInfo--description"><span><%= appointment.chargeable ? 'sim' : 'não' %></span></div>
  </div>

  <div class="infoDetail__groupInfo">
    <div class="infoDetail__groupInfo--title"><span>Status:</span></div>
    <div class="infoDetail__groupInfo--description"><span><%= t("activerecord.attributes.appointment.statuses.#{ appointment.status }") %></span></div>
  </div>

  <div class="infoDetail__groupInfo">
    <div class="infoDetail__groupInfo--title"><span>Doutor:</span></div>
    <div class="infoDetail__groupInfo--description"><span><%= appointment.doctor.name %></span></div>
  </div>

  <div class="infoDetail__groupInfo">
    <div class="infoDetail__groupInfo--title"><span>Início:</span></div>
    <div class="infoDetail__groupInfo--description"><span><%= appointment.start.strftime('%d/%m/%Y %H:%M') %></span></div>
  </div>

  <div class="infoDetail__groupInfo">
    <div class="infoDetail__groupInfo--title"><span>Fim:</span></div>
    <div class="infoDetail__groupInfo--description"><span><%= appointment.end.strftime('%d/%m/%Y %H:%M') %></span></div>
  </div>

  <div class="infoDetail__groupInfo">
    <div class="infoDetail__groupInfo--title"><span>Observações:</span></div>
    <div class="infoDetail__groupInfo--description"><span><%= appointment.observations %></span></div>
  </div>

  <div class="infoDetail__groupFooter">
    <button>
      <%= link_to 'Alterar', edit_appointment_path(appointment) %>
    </button>

    <button class="red">
      <%= link_to 'Deletar', appointment, method: :delete, data: { confirm: 'Tem certeza?' } %>
    </button>
  </div>
</div>