<% page_title 'Todas as consultas' %>

<button>
  <%= link_to 'Nova consulta', new_appointment_path, class: 'button' %>
</button>

<div class="appointments__wrapper">
  <table id="datatable" class="stripe">
    <thead>
        <tr>
            <th>Cobrável</th>
            <th>Status</th>
            <th>Título</th>
            <th>Paciente</th>
            <th>Data</th>
            <th>Horário</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
      <% @appointments.each do |appointment| %>
        <tr>
          <td><%= appointment.chargeable %></td>
          <td><%= t(appointment.status) %></td>
          <td><%= appointment.title %></td>
          <td><%= appointment.patient.name %></td>
          <td><%= appointment.start.strftime('%d %b %Y') %></td>
          <td>
            <%= appointment.start.strftime('%H:%M') %>
            -
            <%= appointment.end.strftime('%H:%M') %>
          </td>
          <td>
            <%= link_to "Detalhes", appointment_path(appointment) %>
            <%= link_to "Alterar", edit_appointment_path(appointment, search: appointment.patient.name) %>
            <%= link_to "Deletar", appointment_path(appointment), method: :delete %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<% content_for(:javascript) do %>
  <script type='text/javascript'>
    InitializeDataTables({ order: [[2, 'desc']] })
  </script>
<% end %>