<% page_title 'Todas as consultas' %>

<button>
  <%= link_to 'Nova consulta', new_appointment_path, class: 'button' %>
</button>

<div class="appointments__wrapper">
  <table id="datatable" class="stripe">
    <thead>
        <tr>
            <th>Status</th>
            <th>Paciente</th>
            <th>Título</th>
            <th>Data</th>
            <th>Horário</th>
            <th>Status PG.</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
      <% @appointments.each do |appointment| %>
        <tr>
          <td><%= t("activerecord.attributes.appointment.statuses.#{ appointment.status }") %></td>
          <td><%= link_to appointment.patient.name, patient_path(appointment.patient) %></td>
          <td><%= appointment.title %></td>
          <td><%= appointment.start.strftime('%d %b %Y') %></td>
          <td>
            <%= appointment.start.strftime('%H:%M') %>
            -
            <%= appointment.end.strftime('%H:%M') %>
          </td>
          <td>
          <%= link_to t("activerecord.attributes.financial_record.statuses.#{ appointment.financial_record.status }"), financial_record_path(appointment.financial_record) %></td>
          <td>
            <button><%= link_to "detalhes", appointment_path(appointment) %></button>
            <button><%= link_to "alterar", edit_appointment_path(appointment, search: appointment.patient.name) %></button>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<% content_for(:javascript) do %>
  <script type='text/javascript'>
    InitializeDataTables({ order: [[2, 'desc']] })
  </script>
<% end %>