<% page_title 'Todas as consultas' %>

<button>
  <%= link_to 'Nova consulta', new_appointment_path, class: 'button' %>
</button>

<div class="appointments__wrapper">
  <table id="datatable" class="stripe">
    <thead>
        <tr>
            <th>Paciente</th>
            <th>Status</th>
            <th>Título</th>
            <th>Horário</th>
            <th>Vencimento</th>
            <th>Status PG.</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
      <% @appointments.each do |appointment| %>
        <tr>
          <td class=<%= "appointment__paymentColor--#{ appointment.payment_color }" %>>
            <%= link_to appointment.patient.name, patient_path(appointment.patient) %>
          </td>
          <td><%= appointment.status_humanized %></td>
          <td><%= appointment.title %></td>
          <td><%= appointment.range_period %></td>
          <td><%= appointment.payment_due %></td>
          <td>
          <%= appointment.payment_link_or_label %></td>
          <td>
            <button><%= link_to "detalhes", appointment_path(appointment) %></button>
            <button><%= link_to "alterar", edit_appointment_path(appointment, search: appointment.patient.name) %></button>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<% content_for(:javascript) do %>
  <script type='text/javascript'>
    InitializeDataTables({ order: [[2, 'desc']] })
  </script>
<% end %>