<!DOCTYPE html>
<html>
  <head>
    <title>Urodonto</title>
    <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16" />

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <aside class="sidebar__wrapper">
      <%= render 'sidebar/sidebar' %>
    </aside>
    <div class="page__wrapper">
      <div class="navbar__wrapper">
        <span class="navbar__title">
          <%= yield(:page_title) %>
        </span>
      </div>
      <article class="content__wrapper">
        <%= yield %>
        <div id='modal_container'></div>
      </article>
    </div> 

    <%= yield :javascript %>
  </body>
</html>
