<!DOCTYPE html>
<html>
  <head>
    <title>Urodonto</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <aside class="sidebar__wrapper">
      <%= render partial: 'sidebar/menu' %>
    </aside>
    <article class="content__wrapper">
      <%= yield %>
      <div id='modal_container'></div>
    </article>

    <%= yield :javascript %>
  </body>
</html>
