<!DOCTYPE html>
<html>
  <head>
    <title>Urodonto</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'public', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <article class="mainContainer__wrapper">
      <%= yield %>
    </article>
  </body>
</html>
